/* This stylesheet is used to style the admin option form of the plugin. */
.wp-includes{
  max-height:200px;
  overflow:auto;
  margin-left:0px;
  padding:10px 0px 10px 10px;
  border:1px solid #dddddd;
}
